/* ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron */

.jumbotron>div>h1 {
    color: red;
}

/* ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar */

.nav>span {
    color: blue;
}

/* ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron */

.jumbotron>div>p:nth-of-type(2)>a {
    color: yellow;
}

/* ESERCIZIO 4) Crea un selettore per selezionare il primo blog post */

.blog-post:first-of-type {
    color: green;
}

/* ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso */

.blog-post:first-of-type hr {
    background-color: red;
}

/* ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar */

.nav>span:nth-of-type(even) {
    color: purple;
}

/* ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio") */

aside div:nth-of-type(2) ol:first-of-type li a {
    color: gray;
}

/* ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post */

.blog-post:nth-of-type(2)>h2+p>a {
    background-color: rgba(69, 254, 161, 0.718);
}

/* ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso */
.blog-pagination>a:last-of-type {
    border: 1px solid red;
    color: red;
}

/* ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post */
.blog-post:nth-of-type(3)>ul>li:nth-of-type(2) {
    color: rgb(103, 237, 103);
}

/* ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra */
footer+a {
    background-color: lightblue;
}

/* ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer */
footer a:nth-of-type(2) {
    background-color: lightcoral;
}